
*::before,
*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: 0;


}
body{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.body{
    width: 390px;
    /* margin: auto; */
}
@media only screen and (max-width: 350px) {
	.body { 
	  width: 300px;
    /* margin: auto; */
	}
    

	#rainBowColor{
   
    margin: 40px auto;
}
#rainBowColorEx{
   
    margin-left: 0px ;
}
}

#btn{
    margin: 1.5rem 0;
  
    padding: 10px 5px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
     background:linear-gradient(rgb(255, 0, 0),rgb(66,77,6),rgb(66,77,6),rgb(51, 255, 0),rgb(0, 47, 255));
    
    color: aliceblue;
    font-weight: 600;
    text-shadow: #56fdef64;

}
.rain-bow{
    width:350px ;
    height: 350px;
    border-radius: 50%;
 
    position: relative;

}
.rain-bow-single1{
    width: 350px;
    height: 350px;
    background-color:  #ffffff;
   
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 994;
}
.rain-bow-single2{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 995;
}
.rain-bow-single3{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single4{
    width: 200px;
    height: 200px;
    background-color:  #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single5{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 997;
}
.rain-bow-single6{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 998;
    text-align: center;
}
.rain-bow-single7{
    width: 50px;
    height: 50px;
    background-color:  #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    text-align: center;
}
/* .rain-bowexample =====================================*/

.rain-bow-single8{
    width: 350px;
    height: 350px;
    background-color:red;
   
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 994;
}
.rain-bow-single9{
    width: 300px;
    height: 300px;
    background-color: orange;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 995;
}
.rain-bow-single10{
    width: 250px;
    height: 250px;
    background-color: yellow;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single11{
    width: 200px;
    height: 200px;
    background-color:  green;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single12{
    width: 150px;
    height: 150px;
    background-color:blue;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 997;
}
.rain-bow-single13{
    width: 100px;
    height: 100px;
    background-color: indigo;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 998;
    text-align: center;
}
.rain-bow-single14{
    width: 50px;
    height: 50px;
    background-color: purple;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    text-align: center;
}
#rainBowColor{
   
    margin: 40px auto;
}
#rainBowColorEx{
   
    margin-left: 0px ;
}

#btn{
    margin: 1.5rem 0;
  
    padding: 10px 5px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
     background:linear-gradient(rgb(255, 0, 0),rgb(66,77,6),rgb(66,77,6),rgb(51, 255, 0),rgb(0, 47, 255));
    
    color: aliceblue;
    font-weight: 600;
    text-shadow: #56fdef64;

}
.rain-bow{
    width:350px ;
    height: 350px;
    border-radius: 50%;
 
    position: relative;

}
.rain-bow-single1{
    width: 350px;
    height: 350px;
    background-color:  #ffffff;
   
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 994;
}
.rain-bow-single2{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 995;
}
.rain-bow-single3{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single4{
    width: 200px;
    height: 200px;
    background-color:  #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single5{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 997;
}
.rain-bow-single6{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 998;
    text-align: center;
}
.rain-bow-single7{
    width: 50px;
    height: 50px;
    background-color:  #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    text-align: center;
}
/* .rain-bowexample =====================================*/

.rain-bow-single8{
    width: 350px;
    height: 350px;
    background-color:red;
   
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 994;
}
.rain-bow-single9{
    width: 300px;
    height: 300px;
    background-color: orange;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 995;
}
.rain-bow-single10{
    width: 250px;
    height: 250px;
    background-color: yellow;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single11{
    width: 200px;
    height: 200px;
    background-color:  green;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 996;
}
.rain-bow-single12{
    width: 150px;
    height: 150px;
    background-color:blue;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 997;
}
.rain-bow-single13{
    width: 100px;
    height: 100px;
    background-color: indigo;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 998;
    text-align: center;
}
.rain-bow-single14{
    width: 50px;
    height: 50px;
    background-color: purple;
    border: 3px solid gray;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    text-align: center;
}



